@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Ocean/Ocean.theme.css');

:root {
  --ocean-bg: url(https://cdn.sanity.io/images/8w1kdmq7/production/36c96579217917f4be650496de01db5d4d94d1a9-1448x2172.jpg);
  --ocean-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/874999698426068992/ocean-home-icon.png);
  --ocean-color1: #11270B;
  --ocean-color2: #FBF9FF;
  --ocean-color3: #DD7596;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 150deg;
  --watermark-filter-brightness: 100%;
  --watermark-filter-contrast: 200%;
  --ocean-emoji-picker-color: 150deg;
}

